[submodule "gtmlib/resources/submodules/labmanager-common"]
	path = gtmlib/resources/submodules/labmanager-common
	url = https://github.com/gigantum/labmanager-common.git
[submodule "gtmlib/resources/submodules/labmanager-service-labbook"]
	path = gtmlib/resources/submodules/labmanager-service-labbook
	url = https://github.com/gigantum/labmanager-service-labbook.git
[submodule "gtmlib/resources/frontend_build/submodules/labmanager-ui"]
	path = gtmlib/resources/frontend_build/submodules/labmanager-ui
	url = https://github.com/gigantum/labmanager-ui.git
[submodule "gtmlib/resources/base_images"]
	path = gtmlib/resources/base_images
	url = https://github.com/gigantum/base-images.git
